{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Change password{% endblock %}

{% block content %}
    <article class="new-article">
        <section>
            <h1><img src="{% static 'images/../../../media/avatar/profileIcon.jpeg' %}" class="post-icon"> Edit Profile</h1>
        </section>
        <form id="user_profile_id" method="POST" action="{% url 'profile:change_password' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
            <fieldset>
                <legend>Change password</legend>
                {% for data in form %}
                    <div class="form-group">
                        {{ data.label_tag }}
                        {% render_field data class+="form-control" %}
                    </div>
                {% endfor %}
            </fieldset>
            {# Password data fieldset #}
            <div class="form-group clearfix">
                <input type="submit" class="btn btn-primary pull-right" style="margin-left:20px;">
                <a href="{% url "profile:user_info" %}" class="btn btn-default pull-right">Back</a>
            </div>
        </form>
    </article>
{% endblock %}